.list-div {
  overflow: auto;
  height: calc(100% - 60px);
  background-color: #fff;
  font-size: 10px;
  margin: 0rem 0.6rem;
}

.add-description-div {
  padding: 1rem 0rem;
  background-color: #f5f5f5;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.list-item-div {
  color: rgb(3, 58, 141);
  font-size: 13px;
  font-weight: 400;
}
