<div class="list-div">
    <div class="d-flex justify-content-center add-description-div">
        <span class="text-muted">No description yet</span> <span style="font-weight: 500; color: rgb(3, 58, 141);"> +
            Add Description</span>
    </div>
    <div class="list-details-div">
        <ng-container *ngFor="let item of Details">
            <div class="list-item-div">
                {{item | titlecase }}
            </div>
        </ng-container>
    </div>
</div>