<div>
  <div class="container-fluid mt-2 mx-1 top-bar">
    <div>
      <div class="nav-bar d-flex justify-content-between">
        <div class="d-flex">
          <div class="menu-item bg-dark-blue text-white rounded hover-effect menu-item"><i
              class="fa fa-list menu-icon"></i><span class="menu-text">SAVED LISTS</span></div>
          <div class="menu-item"><i class="fa fa-filter menu-icon"></i><span class="menu-text">SAVED FILTERS</span>
          </div>
          <div class="menu-item"><i class="fa fa-history menu-icon"></i><span class="menu-text"> SEARCH HISTORY</span>
          </div>
        </div>
        <div class="search-box">
          <app-common-searchbox (queryOut)="sendQuery($event)"></app-common-searchbox>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-3 mx-0">
    <div style="display: flex">
      <app-saved-list style="width: 80%;" [query]="queryString" (listIdOut)="sendListId($event)"></app-saved-list>
      <app-details-sidebar 
      style="width: 20%;
      border-left: solid;
      border-left-color: #f5f5f5;
      border-left-width: 1px;" 
      [listId]="listIdForDetails"></app-details-sidebar>
    </div>
  </div>

</div>
<router-outlet></router-outlet>