.menu-icon {
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.6rem;
}
.menu-text {
  margin-right: 0.8rem;
}
.menu-item {
  margin-right: 1rem;
}
.search-box {
  width: 26rem;
}
.bg-dark-blue {
  background-color: rgb(3, 37, 85);
}
.menu-item {
  font-size: 13px;
  margin-top: 6px;
}
.top-bar {
  background-color: #f5f5f5;
  padding: 1.2rem;
  margin-top: -0.4rem !important;
}
