body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.hover-effect {
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background: #f9f9f9;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #ededed;
  }
  
  ::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    min-height: 2px;
    padding-top: 100px;
    border-radius: 2rem;
    border-right: 1px solid transparent;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    background-clip: padding-box;
    background-color: #c1c1c1;
    margin: 0 2px 0 3px;
  }
  
  ::-webkit-scrollbar-track {
    border-right: 1px solid transparent;
    background-clip: padding-box;
  }