<ng-template #listnameTemplate let-listname="listname">
    <td>
        <span>{{listname.date}}</span>
    </td>
    <td>
        <span
            [ngClass]="listname.entitycount > 0 ? 'listname-span' : 'listname-count0-span'">{{listname.listname}}</span>
    </td>
    <td>
        <span class="entitycount-span">{{listname.entitycount}}</span>
    </td>
    <td>
        <i [ngClass]="listname.id != activeListId ? 'action-icons' : 'action-icons-on-active-row'"
            class="action-icons fa fa-envelope"></i>
        <i [ngClass]="listname.id != activeListId ? 'action-icons' : 'action-icons-on-active-row'"
            class="action-icons fa fa-share-alt-square"></i>
        <i [ngClass]="listname.id != activeListId ? 'action-icons' : 'action-icons-on-active-row'"
            class="action-icons fa fa-pencil"></i>
        <i [ngClass]="listname.id != activeListId ? 'action-icons' : 'action-icons-on-active-row'"
            class="action-icons fa fa-trash"></i>
    </td>
    <td>
        <span [ngClass]="listname.id === activeListId ? 'activeDetail' : ''" class="hover-effect details-span"
            (click)="fetchListDetail(listname.id);">Details</span>
    </td>
</ng-template>


<div class="list-div">
    <ng-container *ngIf="listnames.length > 0">
        <table class="table-style" style="margin-left: 1rem;">

            <tr class="text-muted fw-5">
                <td>
                    <span>Date</span>
                </td>
                <td>
                    <span>List Name</span>
                </td>
                <td>
                    <span>No. of Entities</span>
                </td>
                <td>
                    <span>Actions</span>
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
            <ng-container *ngFor="let listname of listnames; let i = index">
                <ng-container>
                    <tr [ngClass]="listname.id === activeListId ? 'activeRow' : ''">
                        <ng-container *ngTemplateOutlet="listnameTemplate; context: { listname: listname}">
                        </ng-container>
                    </tr>
                </ng-container>
            </ng-container>
        </table>
    </ng-container>
</div>