table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}
.activeRow {
  background-color: #f5f5f5;
}
.list-div {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 300px);
  min-height: 500px;
}

.table-row-container {
  overflow: auto;
  height: calc(100% - 60px);
}

.fw-5 {
  font-weight: 500;
}
.details-span {
  padding: 0.3rem 0.6rem;
  color: rgb(3, 58, 141);
  background-color: white;
}
.activeDetail {
  border-bottom: 5px solid rgb(3, 58, 141);
  font-weight: 500;
  background-color: white;
}
.listname-span {
  font-weight: 500;
  padding-right: 10rem;
}

.listname-count0-span {
  color: rgb(18, 161, 228);
  font-weight: 400;
  padding-right: 14rem;
}
.entitycount-span {
  margin-left: 6rem;
}
.action-icons {
  padding-right: 1rem;
  color: rgb(163, 159, 159);
}

.action-icons-on-active-row {
  padding-right: 1rem;
  color: rgb(41, 39, 39);
}
.table-style {
  width: 98%!important;
}